*{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
/*1*/
.Info{
	padding: 20px;
	position: absolute;
	border: 2px solid #083F1B;
	width: 1099px;
	left: 150px;
	top: 164px;
	background: #1B1B1B;
	font-size: 24px;
	font-family: "Arial";
}
.Info p{
	color: #00DA61;
	font-size: 30px;
}
/*2
.Usuario li a, .Usuario li img{
	background: #000000;
	text-decoration: none;
	color: #55FF21;
	padding: 5px 10px;
	display: block;
	font-size: 25px;
	font-family: "Comic Sans MS";
}
.Usuario > li{
	float: left;
}
.Usuario li ul a:hover{
	background-color: #416143;
}
.Usuario li ul a{
	background: #1B1B1B;
}
.Usuario li ul{
	display: none;
	position: absolute;
	min-width: 120px;
}
.Usuario li:hover > ul{
	display:block;
}
.Usuario li ul li{
	position: relative;
}
.Usuario li ul li ul{
	right: -140px;
	top: 0px;
}*/
/*3*/
.Secciones_P{
	width: 1200px;
	position: absolute;
	top: 100px;
	left: 150px;
	font-size: 22px;
	font-family: "Papyrus";
}
.S2{
	border-left: 2px solid #0E5DAD;
}
.Secciones li a,.S2{
	background: #0070B1;
	text-decoration: none;
	color: #00E1B9;
	padding: 10px 54px;
	display: block;
}
.Secciones li a:hover{
	background-color: #189ED0;
}
.Secciones > li{
	float: left;
}
/*4*/
.c1{
	position: relative;
	background: transparent;
	width: 1%;
	height: 1px;
	top: 2880px;
}



